In [27]:
%pip install pyoverleaf

Collecting pyoverleaf
  Downloading pyoverleaf-0.1.4-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: requests in ./.venv/lib/python3.12/site-packages (from pyoverleaf) (2.32.3)
Collecting beautifulsoup4 (from pyoverleaf)
  Using cached beautifulsoup4-4.13.3-py3-none-any.whl.metadata (3.8 kB)
Collecting browsercookie (from pyoverleaf)
  Downloading browsercookie-0.8.1-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: websocket-client in ./.venv/lib/python3.12/site-packages (from pyoverleaf) (1.8.0)
Collecting soupsieve>1.2 (from beautifulsoup4->pyoverleaf)
  Using cached soupsieve-2.6-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in ./.venv/lib/python3.12/site-packages (from beautifulsoup4->pyoverleaf) (4.12.2)
Collecting cryptography (from browsercookie->pyoverleaf)
  Downloading cryptography-44.0.2-cp39-abi3-manylinux_2_34_x86_64.whl.metadata (5.7 kB)
Collecting keyring (from browsercookie->pyoverleaf)
  Downloading keyring-25.6.0-py3-none-any.whl.metadata (20 kB)
Collecting lz4 (from browsercookie->pyoverleaf)
  Downloading lz4-4.4.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.12/site-packages (from requests->pyoverleaf) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.12/site-packages (from requests->pyoverleaf) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.12/site-packages (from requests->pyoverleaf) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.12/site-packages (from requests->pyoverleaf) (2025.1.31)
Collecting cffi>=1.12 (from cryptography->browsercookie->pyoverleaf)
  Using cached cffi-1.17.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting SecretStorage>=3.2 (from keyring->browsercookie->pyoverleaf)
  Downloading SecretStorage-3.3.3-py3-none-any.whl.metadata (4.0 kB)
Collecting jeepney>=0.4.2 (from keyring->browsercookie->pyoverleaf)
  Downloading jeepney-0.9.0-py3-none-any.whl.metadata (1.2 kB)
Collecting jaraco.classes (from keyring->browsercookie->pyoverleaf)
  Downloading jaraco.classes-3.4.0-py3-none-any.whl.metadata (2.6 kB)
Collecting jaraco.functools (from keyring->browsercookie->pyoverleaf)
  Downloading jaraco.functools-4.1.0-py3-none-any.whl.metadata (2.9 kB)
Collecting jaraco.context (from keyring->browsercookie->pyoverleaf)
  Downloading jaraco.context-6.0.1-py3-none-any.whl.metadata (4.1 kB)
Collecting pycparser (from cffi>=1.12->cryptography->browsercookie->pyoverleaf)
  Using cached pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Collecting more-itertools (from jaraco.classes->keyring->browsercookie->pyoverleaf)
  Downloading more_itertools-10.6.0-py3-none-any.whl.metadata (37 kB)
Downloading pyoverleaf-0.1.4-py3-none-any.whl (11 kB)
Using cached beautifulsoup4-4.13.3-py3-none-any.whl (186 kB)
Downloading browsercookie-0.8.1-py3-none-any.whl (17 kB)
Using cached soupsieve-2.6-py3-none-any.whl (36 kB)
Downloading cryptography-44.0.2-cp39-abi3-manylinux_2_34_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 13.5 MB/s eta 0:00:00a 0:00:01
Downloading keyring-25.6.0-py3-none-any.whl (39 kB)
Downloading lz4-4.4.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 12.8 MB/s eta 0:00:00
Using cached cffi-1.17.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (479 kB)
Downloading jeepney-0.9.0-py3-none-any.whl (49 kB)
Downloading SecretStorage-3.3.3-py3-none-any.whl (15 kB)
Downloading jaraco.classes-3.4.0-py3-none-any.whl (6.8 kB)
Downloading jaraco.context-6.0.1-py3-none-any.whl (6.8 kB)
Downloading jaraco.functools-4.1.0-py3-none-any.whl (10 kB)
Downloading more_itertools-10.6.0-py3-none-any.whl (63 kB)
Using cached pycparser-2.22-py3-none-any.whl (117 kB)
Installing collected packages: soupsieve, pycparser, more-itertools, lz4, jeepney, jaraco.context, jaraco.functools, jaraco.classes, cffi, beautifulsoup4, cryptography, SecretStorage, keyring, browsercookie, pyoverleaf
Successfully installed SecretStorage-3.3.3 beautifulsoup4-4.13.3 browsercookie-0.8.1 cffi-1.17.1 cryptography-44.0.2 jaraco.classes-3.4.0 jaraco.context-6.0.1 jaraco.functools-4.1.0 jeepney-0.9.0 keyring-25.6.0 lz4-4.4.3 more-itertools-10.6.0 pycparser-2.22 pyoverleaf-0.1.4 soupsieve-2.6
Note: you may need to restart the kernel to use updated packages.

In [73]:
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
import pyoverleaf as po
import os
import numpy as np
import scipy.stats as ss
from statsmodels.sandbox.stats.multicomp import multipletests

In [15]:
df = pd.read_csv('model scoring.csv')

print("\nIdentifying rows with NA in specified columns:")
cols_to_check = ['quality', 'agreement', 'accuracy', 'hallucination']
all_na_rows = pd.DataFrame()

for col in cols_to_check:
    na_rows = df[df[col].isna()]
    if not na_rows.empty:
        print(f"Column {col}: Found {len(na_rows)} NA values.")
        all_na_rows = pd.concat([all_na_rows, na_rows])
    else:
        print(f"Column {col}: No NA values found.")

if not all_na_rows.empty:
    print("Saving all rows with NA values to 'all_na_rows.csv'.")
    all_na_rows.to_csv('all_na_rows.csv', index=True)
else:
    print("No NA values found in any of the specified columns.")

df[cols_to_check] = df[cols_to_check].fillna(0)
df = df[df['model'] != 'o1-mini-2024-09-12']

Identifying rows with NA in specified columns:
Column quality: Found 21 NA values.
Column agreement: Found 21 NA values.
Column accuracy: Found 21 NA values.
Column hallucination: Found 21 NA values.
Saving all rows with NA values to 'all_na_rows.csv'.

In [16]:
display(df.head())

,model,attempt,temperature,top_p,rag_type,baseline,results,comparison_prompt,quality,agreement,accuracy,hallucination,justification
0,gpt-4o-mini-2024-07-18,1,0.1,0.1,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,7.0,A resposta do modelo apresenta uma descrição q...
1,gpt-4o-mini-2024-07-18,1,0.1,0.5,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,7.0,A resposta do modelo apresenta uma descrição q...
2,gpt-4o-mini-2024-07-18,1,0.1,0.9,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,3.0,A resposta do modelo apresenta uma descrição q...
3,gpt-4o-mini-2024-07-18,1,1.0,0.1,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,7.0,A resposta do modelo apresenta uma descrição q...
4,gpt-4o-mini-2024-07-18,1,1.0,0.5,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,7.0,A resposta do modelo apresenta uma descrição q...

In [17]:
print("Descriptive Statistics:")
display(df[['quality', 'agreement', 'accuracy', 'hallucination']].describe())

print("\nGrouped by model:")
model_grouped_quality = df.groupby('model')[['quality']].describe()
display(model_grouped_quality)
model_grouped_agreement = df.groupby('model')[['agreement']].describe()
display(model_grouped_agreement)
model_grouped_accuracy = df.groupby('model')[['accuracy']].describe()
display(model_grouped_accuracy)
model_grouped_hallucination = df.groupby('model')[['hallucination']].describe()
display(model_grouped_hallucination)

print("\nGrouped by temperature:")
temperature_grouped_quality = df.groupby('temperature')[['quality']].describe()
display(temperature_grouped_quality)
temperature_grouped_agreement = df.groupby('temperature')[['agreement']].describe()
display(temperature_grouped_agreement)
temperature_grouped_accuracy = df.groupby('temperature')[['accuracy']].describe()
display(temperature_grouped_accuracy)
temperature_grouped_hallucination = df.groupby('temperature')[['hallucination']].describe()
display(temperature_grouped_hallucination)

print("\nGrouped by top_p:")
top_p_grouped_quality = df.groupby('top_p')[['quality']].describe()
display(top_p_grouped_quality)
top_p_grouped_agreement = df.groupby('top_p')[['agreement']].describe()
display(top_p_grouped_agreement)
top_p_grouped_accuracy = df.groupby('top_p')[['accuracy']].describe()
display(top_p_grouped_accuracy)
top_p_grouped_hallucination = df.groupby('top_p')[['hallucination']].describe()
display(top_p_grouped_hallucination)

print("\nGrouped by rag_type:")
rag_type_grouped_quality = df.groupby('rag_type')[['quality']].describe()
display(rag_type_grouped_quality)
rag_type_grouped_agreement = df.groupby('rag_type')[['agreement']].describe()
display(rag_type_grouped_agreement)
rag_type_grouped_accuracy = df.groupby('rag_type')[['accuracy']].describe()
display(rag_type_grouped_accuracy)
rag_type_grouped_hallucination = df.groupby('rag_type')[['hallucination']].describe()
display(rag_type_grouped_hallucination)

print("\nGrouped by rag_type + model:")
df['rag_type_model'] = df['rag_type'] + '_' + df['model']
rag_type_model_grouped_quality = df.groupby('rag_type_model')[['quality']].describe()
display(rag_type_model_grouped_quality)
rag_type_model_grouped_agreement = df.groupby('rag_type_model')[['agreement']].describe()
display(rag_type_model_grouped_agreement)
rag_type_model_grouped_accuracy = df.groupby('rag_type_model')[['accuracy']].describe()
display(rag_type_model_grouped_accuracy)
rag_type_model_grouped_hallucination = df.groupby('rag_type_model')[['hallucination']].describe()
display(rag_type_model_grouped_hallucination)

Descriptive Statistics:

            quality     agreement      accuracy  hallucination
count  17640.000000  17640.000000  17640.000000   17640.000000
mean       4.011451      3.984580      3.286054       3.572336
std        2.543590      3.006482      2.805166       3.449470
min        0.000000      0.000000      0.000000       0.000000
25%        2.000000      2.000000      1.000000       0.000000
50%        3.000000      2.000000      2.000000       3.000000
75%        6.000000      6.000000      5.000000       6.000000
max       10.000000     10.000000     10.000000      10.000000

Grouped by model:

                           quality                                          \
                             count      mean       std  min  25%  50%  75%
model
Mistral-7B-Instruct-v0.3    3528.0  2.336168  2.595022  0.0  0.0  2.0  4.0
TeenyTinyLlama-160m-NCM-ft  3528.0  3.726474  2.187876  0.0  2.0  3.0  6.0
deepseek-chat               3528.0  5.095238  2.373180  0.0  3.0  4.0  7.0
gemini-2.0-flash            3528.0  4.316893  2.278069  2.0  2.0  3.0  6.0
gpt-4o-mini-2024-07-18      3528.0  4.582483  2.351817  2.0  3.0  4.0  7.0


                             max
model
Mistral-7B-Instruct-v0.3     9.0
TeenyTinyLlama-160m-NCM-ft   8.0
deepseek-chat               10.0
gemini-2.0-flash            10.0
gpt-4o-mini-2024-07-18      10.0

                           agreement                                          \
                               count      mean       std  min  25%  50%  75%
model
Mistral-7B-Instruct-v0.3      3528.0  2.335884  2.870762  0.0  0.0  2.0  3.0
TeenyTinyLlama-160m-NCM-ft    3528.0  3.694444  2.398174  0.0  1.0  4.0  5.0
deepseek-chat                 3528.0  4.939626  3.190224  0.0  2.0  3.0  8.0
gemini-2.0-flash              3528.0  4.467687  2.832149  1.0  2.0  3.0  7.0
gpt-4o-mini-2024-07-18        3528.0  4.485261  2.968850  1.0  2.0  3.0  7.0


                             max
model
Mistral-7B-Instruct-v0.3    10.0
TeenyTinyLlama-160m-NCM-ft   9.0
deepseek-chat               10.0
gemini-2.0-flash            10.0
gpt-4o-mini-2024-07-18      10.0

                           accuracy                                          \
                              count      mean       std  min  25%  50%  75%
model
Mistral-7B-Instruct-v0.3     3528.0  1.910147  2.565309  0.0  0.0  1.0  2.0
TeenyTinyLlama-160m-NCM-ft   3528.0  2.765873  1.887434  0.0  1.0  2.0  4.0
deepseek-chat                3528.0  4.414966  3.086803  0.0  2.0  2.0  8.0
gemini-2.0-flash             3528.0  3.584184  2.799864  1.0  1.0  2.0  5.0
gpt-4o-mini-2024-07-18       3528.0  3.755102  2.845139  1.0  2.0  2.0  6.0


                             max
model
Mistral-7B-Instruct-v0.3    10.0
TeenyTinyLlama-160m-NCM-ft   8.0
deepseek-chat               10.0
gemini-2.0-flash            10.0
gpt-4o-mini-2024-07-18      10.0

                           hallucination                                     \
                                   count      mean       std  min  25%  50%
model
Mistral-7B-Instruct-v0.3          3528.0  5.500000  4.166713  0.0  1.0  5.0
TeenyTinyLlama-160m-NCM-ft        3528.0  5.356859  3.094290  0.0  3.0  5.0
deepseek-chat                     3528.0  2.331066  2.703017  0.0  0.0  1.0
gemini-2.0-flash                  3528.0  2.308673  2.527695  0.0  0.0  2.0
gpt-4o-mini-2024-07-18            3528.0  2.365079  2.716121  0.0  0.0  2.0


                             75%   max
model
Mistral-7B-Instruct-v0.3    10.0  10.0
TeenyTinyLlama-160m-NCM-ft   9.0  10.0
deepseek-chat                4.0  10.0
gemini-2.0-flash             4.0  10.0
gpt-4o-mini-2024-07-18       4.0  10.0

Grouped by temperature:

            quality
              count      mean       std  min  25%  50%  75%   max
temperature
0.1          5880.0  4.127041  2.619815  0.0  2.0  4.0  6.0  10.0
1.0          5880.0  4.009354  2.518666  0.0  2.0  3.0  6.0  10.0
1.9          5880.0  3.897959  2.485637  0.0  2.0  3.0  6.0  10.0

            agreement
                count      mean       std  min  25%  50%  75%   max
temperature
0.1            5880.0  4.130612  3.050677  0.0  2.0  4.0  7.0  10.0
1.0            5880.0  3.971769  2.991037  0.0  2.0  2.0  6.0  10.0
1.9            5880.0  3.851361  2.971146  0.0  2.0  2.0  6.0  10.0

            accuracy
               count      mean       std  min  25%  50%  75%   max
temperature
0.1           5880.0  3.382313  2.825676  0.0  1.0  2.0  5.0  10.0
1.0           5880.0  3.278571  2.803228  0.0  1.0  2.0  5.0  10.0
1.9           5880.0  3.197279  2.783849  0.0  1.0  2.0  5.0  10.0

            hallucination
                    count      mean       std  min  25%  50%  75%   max
temperature
0.1                5880.0  3.504762  3.376773  0.0  0.0  3.0  5.0  10.0
1.0                5880.0  3.484014  3.425153  0.0  0.0  3.0  6.0  10.0
1.9                5880.0  3.728231  3.539722  0.0  0.0  3.0  6.0  10.0

Grouped by top_p:

      quality
        count      mean       std  min  25%  50%  75%   max
top_p
0.1    5880.0  4.126361  2.621341  0.0  2.0  3.0  6.0  10.0
0.5    5880.0  3.972959  2.523464  0.0  2.0  3.0  6.0  10.0
0.9    5880.0  3.935034  2.480308  0.0  2.0  3.0  6.0  10.0

      agreement
          count      mean       std  min  25%  50%  75%   max
top_p
0.1      5880.0  4.130272  3.052253  0.0  2.0  4.0  7.0  10.0
0.5      5880.0  3.936395  3.000261  0.0  2.0  2.0  6.0  10.0
0.9      5880.0  3.887075  2.961252  0.0  2.0  2.0  6.0  10.0

      accuracy
         count      mean       std  min  25%  50%  75%   max
top_p
0.1     5880.0  3.386905  2.833498  0.0  1.0  2.0  5.0  10.0
0.5     5880.0  3.248639  2.801917  0.0  1.0  2.0  5.0  10.0
0.9     5880.0  3.222619  2.777500  0.0  1.0  2.0  5.0  10.0

      hallucination
              count      mean       std  min  25%  50%  75%   max
top_p
0.1          5880.0  3.510544  3.382598  0.0  0.0  3.0  5.0  10.0
0.5          5880.0  3.539796  3.474611  0.0  0.0  3.0  6.0  10.0
0.9          5880.0  3.666667  3.488827  0.0  0.0  3.0  6.0  10.0

Grouped by rag_type:

            quality
              count      mean       std  min  25%  50%  75%   max
rag_type
2-steps RAG  8820.0  5.295011  2.590605  0.0  3.0  6.0  7.0  10.0
Common RAG   8820.0  2.727891  1.712826  0.0  2.0  3.0  3.0   9.0

            agreement
                count      mean       std  min  25%  50%  75%   max
rag_type
2-steps RAG    8820.0  5.562472  3.086253  0.0  3.0  6.0  8.0  10.0
Common RAG     8820.0  2.406689  1.890476  0.0  2.0  2.0  2.0  10.0

            accuracy
               count      mean       std  min  25%  50%  75%   max
rag_type
2-steps RAG   8820.0  4.700340  3.047959  0.0  2.0  4.0  7.0  10.0
Common RAG    8820.0  1.871769  1.564574  0.0  1.0  2.0  2.0  10.0

            hallucination
                    count      mean       std  min  25%  50%  75%   max
rag_type
2-steps RAG        8820.0  3.932426  3.255178  0.0  1.0  4.0  6.0  10.0
Common RAG         8820.0  3.212245  3.597707  0.0  0.0  2.0  5.0  10.0

Grouped by rag_type + model:

                                       quality                                \
                                         count      mean       std  min  25%
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    1764.0  3.642290  2.811257  0.0  2.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  1764.0  3.773810  2.208470  0.0  2.0
2-steps RAG_deepseek-chat               1764.0  6.759070  2.068400  0.0  5.0
2-steps RAG_gemini-2.0-flash            1764.0  5.945011  2.014365  2.0  5.0
2-steps RAG_gpt-4o-mini-2024-07-18      1764.0  6.354875  1.927478  2.0  5.0
Common RAG_Mistral-7B-Instruct-v0.3     1764.0  1.030045  1.468019  0.0  0.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   1764.0  3.679138  2.166678  0.0  2.0
Common RAG_deepseek-chat                1764.0  3.431406  1.203771  2.0  3.0
Common RAG_gemini-2.0-flash             1764.0  2.688776  1.009916  2.0  2.0
Common RAG_gpt-4o-mini-2024-07-18       1764.0  2.810091  1.031380  2.0  2.0


                                        50%  75%   max
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    3.0  6.0   9.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  4.0  6.0   8.0
2-steps RAG_deepseek-chat               7.0  8.0  10.0
2-steps RAG_gemini-2.0-flash            6.0  8.0  10.0
2-steps RAG_gpt-4o-mini-2024-07-18      7.0  8.0  10.0
Common RAG_Mistral-7B-Instruct-v0.3     0.0  2.0   8.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   3.0  6.0   8.0
Common RAG_deepseek-chat                3.0  3.0   9.0
Common RAG_gemini-2.0-flash             2.0  3.0   7.0
Common RAG_gpt-4o-mini-2024-07-18       3.0  3.0   8.0

                                       agreement                           \
                                           count      mean       std  min
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3      1764.0  3.725057  3.233901  0.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft    1764.0  3.741497  2.403925  0.0
2-steps RAG_deepseek-chat                 1764.0  7.199546  2.689843  0.0
2-steps RAG_gemini-2.0-flash              1764.0  6.481293  2.507661  1.0
2-steps RAG_gpt-4o-mini-2024-07-18        1764.0  6.664966  2.539199  1.0
Common RAG_Mistral-7B-Instruct-v0.3       1764.0  0.946712  1.472183  0.0
Common RAG_TeenyTinyLlama-160m-NCM-ft     1764.0  3.647392  2.392164  0.0
Common RAG_deepseek-chat                  1764.0  2.679705  1.704492  1.0
Common RAG_gemini-2.0-flash               1764.0  2.454082  1.282387  1.0
Common RAG_gpt-4o-mini-2024-07-18         1764.0  2.305556  1.295375  1.0


                                        25%  50%  75%   max
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    1.0  2.0  7.0  10.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  1.0  4.0  5.0   9.0
2-steps RAG_deepseek-chat               5.0  8.0  9.0  10.0
2-steps RAG_gemini-2.0-flash            4.0  7.0  9.0  10.0
2-steps RAG_gpt-4o-mini-2024-07-18      5.0  7.0  9.0  10.0
Common RAG_Mistral-7B-Instruct-v0.3     0.0  0.0  2.0   9.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   1.0  4.0  5.0   9.0
Common RAG_deepseek-chat                2.0  2.0  2.0  10.0
Common RAG_gemini-2.0-flash             2.0  2.0  2.0   8.0
Common RAG_gpt-4o-mini-2024-07-18       2.0  2.0  2.0   9.0

                                       accuracy                                \
                                          count      mean       std  min  25%
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3     1764.0  3.129252  2.985741  0.0  1.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft   1764.0  2.797052  1.899838  0.0  1.0
2-steps RAG_deepseek-chat                1764.0  6.453515  2.904530  0.0  4.0
2-steps RAG_gemini-2.0-flash             1764.0  5.437075  2.706688  1.0  3.0
2-steps RAG_gpt-4o-mini-2024-07-18       1764.0  5.684807  2.739053  1.0  3.0
Common RAG_Mistral-7B-Instruct-v0.3      1764.0  0.691043  1.129860  0.0  0.0
Common RAG_TeenyTinyLlama-160m-NCM-ft    1764.0  2.734694  1.874968  0.0  1.0
Common RAG_deepseek-chat                 1764.0  2.376417  1.519781  1.0  2.0
Common RAG_gemini-2.0-flash              1764.0  1.731293  1.219206  1.0  1.0
Common RAG_gpt-4o-mini-2024-07-18        1764.0  1.825397  1.113579  1.0  1.0


                                        50%  75%   max
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    2.0  5.0  10.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  3.0  4.0   8.0
2-steps RAG_deepseek-chat               7.0  9.0  10.0
2-steps RAG_gemini-2.0-flash            5.0  8.0  10.0
2-steps RAG_gpt-4o-mini-2024-07-18      5.0  9.0  10.0
Common RAG_Mistral-7B-Instruct-v0.3     0.0  1.0   9.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   2.0  4.0   8.0
Common RAG_deepseek-chat                2.0  2.0  10.0
Common RAG_gemini-2.0-flash             1.0  2.0   9.0
Common RAG_gpt-4o-mini-2024-07-18       2.0  2.0   9.0

                                       hallucination                           \
                                               count      mean       std  min
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3          1764.0  4.444444  3.749045  0.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft        1764.0  5.381519  3.084574  0.0
2-steps RAG_deepseek-chat                     1764.0  3.010771  3.201035  0.0
2-steps RAG_gemini-2.0-flash                  1764.0  3.330499  2.670432  0.0
2-steps RAG_gpt-4o-mini-2024-07-18            1764.0  3.494898  2.879205  0.0
Common RAG_Mistral-7B-Instruct-v0.3           1764.0  6.555556  4.295096  0.0
Common RAG_TeenyTinyLlama-160m-NCM-ft         1764.0  5.332200  3.104653  0.0
Common RAG_deepseek-chat                      1764.0  1.651361  1.856232  0.0
Common RAG_gemini-2.0-flash                   1764.0  1.286848  1.887183  0.0
Common RAG_gpt-4o-mini-2024-07-18             1764.0  1.235261  1.978524  0.0


                                        25%   50%   75%   max
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    1.0   4.0   8.0  10.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  3.0   5.0   9.0  10.0
2-steps RAG_deepseek-chat               0.0   2.0   4.0  10.0
2-steps RAG_gemini-2.0-flash            0.0   4.0   5.0  10.0
2-steps RAG_gpt-4o-mini-2024-07-18      0.0   4.0   6.0  10.0
Common RAG_Mistral-7B-Instruct-v0.3     1.0  10.0  10.0  10.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   3.0   5.0   9.0  10.0
Common RAG_deepseek-chat                0.0   1.0   4.0  10.0
Common RAG_gemini-2.0-flash             0.0   0.0   3.0  10.0
Common RAG_gpt-4o-mini-2024-07-18       0.0   0.0   3.0  10.0

In [26]:
# Define the columns for analysis
columns = ['quality', 'agreement', 'accuracy', 'hallucination']
group_columns = ['model', 'temperature', 'top_p', 'rag_type', 'rag_type_model']

# Improved grouped box plots with grid layout (2x2)
for group_col in group_columns:
    if group_col == 'rag_type_model':
        fig, axes = plt.subplots(2, 2, figsize=(20, 15))  # Adjust figsize for better visualization
    else:
        fig, axes = plt.subplots(2, 2, figsize=(15, 10))  # Adjust figsize for better visualization


    for i, col in enumerate(columns):
        row = i // 2
        col_idx = i % 2
        sns.boxplot(data=df, x=group_col, y=col, ax=axes[row, col_idx], hue=group_col, palette="viridis", legend=False)  # Use a better palette, show legend only for the first subplot
        axes[row, col_idx].set_title(f'Distribution of {col} grouped by {group_col}', fontsize=16)  # Increase title size
        axes[row, col_idx].set_xlabel(group_col, fontsize=12)  # Increase x label size
        axes[row, col_idx].set_ylabel(col, fontsize=12)  # Increase y label size
        axes[row, col_idx].tick_params(axis='x', rotation=45, labelsize=10)  # Rotate x ticks, adjust size
        axes[row, col_idx].tick_params(axis='y', labelsize=10)  # adjust y ticks size
        plt.setp(axes[row, col_idx].get_xticklabels(), ha="right")
        axes[row, col_idx].grid(axis='y', linestyle='--')  # Add grid lines for better readability

    plt.tight_layout()

    # Save the figure to the 'figures' directory with 300 dpi
    filename = f'figures/{group_col}_boxplots.png'
    plt.savefig(filename, dpi=300)
    plt.close(fig) # close figure to prevent display

In [88]:
# Define the columns for analysis
columns = ['quality', 'agreement', 'accuracy', 'hallucination']

# Calculate the Spearman correlation matrix
spearman_corr = df[columns].corr(method='spearman')
display(spearman_corr)

# Calculate p-values for Spearman correlation coefficients
p_values = np.zeros(spearman_corr.shape)
for i in range(len(columns)):
    for j in range(len(columns)):
        if i != j:
            _, p_values[i, j] = ss.spearmanr(df[columns[i]], df[columns[j]], nan_policy='omit')
        else:
            p_values[i, j] = np.nan  # Set diagonal p-values to NaN

# Adjust p-values using Benjamini-Hochberg correction
p_values_flat = p_values.flatten()
reject, p_values_corrected, _, _ = multipletests(p_values_flat[~np.isnan(p_values_flat)], method='fdr_bh')
p_values_corrected_matrix = np.zeros_like(p_values)
p_values_corrected_matrix[~np.isnan(p_values)] = p_values_corrected

# Create a mask for insignificant correlations (p > 0.05)
mask = p_values_corrected_matrix > 0.05

# Create a mask for the upper triangle
mask_upper = np.triu(np.ones_like(spearman_corr, dtype=bool))

# Prepare annotations: correlation value or asterisk for significance
annotations = np.empty_like(spearman_corr, dtype=object)
for i in range(spearman_corr.shape[0]):
    for j in range(spearman_corr.shape[1]):
        if mask[i, j] or mask_upper[i,j]:
            annotations[i, j] = ""  # Empty string if masked
        else:
            annotations[i, j] = f"{spearman_corr.iloc[i, j]:.2f}"
            if p_values_corrected_matrix[i, j] <= 0.05:
                annotations[i, j] += "*"  # Add asterisk if significant

# Create the scatter plot matrix with Seaborn's PairGrid
g = sns.PairGrid(df[columns])
g.map_lower(sns.scatterplot, color="black")  # Plot scatter plots in the lower triangle
g.map_diag(sns.histplot, color="lightgray")  # Plot histograms on the diagonal
g.map_upper(sns.kdeplot, cmap="Blues")       # Plot densities in the upper triangle

# Add correlation annotations to the plots
for i in range(len(columns)):
    for j in range(i+1, len(columns)):  # Only fill the upper triangle
        g.axes[i, j].annotate(f"Corr: {spearman_corr.iloc[i, j]:.2f}\n", 
                              xy=(0.5, 0.5), xycoords="axes fraction", ha="center", va="center", 
                              fontsize=12, color="gray")

# Adding the title
plt.subplots_adjust(top=0.9)  # Adjust the top value as needed
plt.suptitle('Pairwise scatter plot matrix with Spearman’s correlations and Benjamini-Hochberg correction.', fontsize=14)


# Save the figure
filename = 'figures/pairplot_spearman_correlation_matrix.png'
plt.savefig(filename, dpi=300, bbox_inches='tight')
plt.close()

print(f"Spearman correlation pairplot saved to {filename}")

                quality  agreement  accuracy  hallucination
quality        1.000000   0.958889  0.976611      -0.276643
agreement      0.958889   1.000000  0.954939      -0.284378
accuracy       0.976611   0.954939  1.000000      -0.283889
hallucination -0.276643  -0.284378 -0.283889       1.000000

Spearman correlation pairplot saved to figures/pairplot_spearman_correlation_matrix.png

In [98]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas as pd

# Ensure categorical variables are properly set
categorical_vars = ['model', 'temperature', 'top_p', 'attempt', 'rag_type']
for var in categorical_vars:
    df[var] = df[var].astype('category')

# Reshape the data into long format for multivariate modeling
df_long = df.melt(id_vars=['attempt', 'model', 'temperature', 'top_p', 'rag_type'], 
                  value_vars=['quality', 'agreement', 'accuracy', 'hallucination'], 
                  var_name='response_type', value_name='value')

# Define the mixed model formula with interaction effects
formula = "value ~ model + temperature + top_p + rag_type + model:temperature + model:top_p + temperature:top_p"

# Fit a Multivariate Linear Mixed Model (MLMM) with random intercepts for prompts
md_mlmm = smf.mixedlm(formula, data=df_long, groups=df_long['attempt'], 
                       re_formula="~1", vc_formula={"response_type": "0 + C(response_type)"})

mdf_mlmm = md_mlmm.fit(method="lbfgs")  # L-BFGS is more stable for complex models
print(mdf_mlmm.summary())

/mnt/4d4f90e5-f220-481e-8701-f0a546491c35/arquivos/projetos/cttllm/.venv/lib/python3.12/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/mnt/4d4f90e5-f220-481e-8701-f0a546491c35/arquivos/projetos/cttllm/.venv/lib/python3.12/site-packages/statsmodels/regression/mixed_linear_model.py:2206: ConvergenceWarning: MixedLM optimization failed, trying a different optimizer may help.
  warnings.warn(msg, ConvergenceWarning)
/mnt/4d4f90e5-f220-481e-8701-f0a546491c35/arquivos/projetos/cttllm/.venv/lib/python3.12/site-packages/statsmodels/regression/mixed_linear_model.py:2218: ConvergenceWarning: Gradient optimization failed, |grad| = 622.972770
  warnings.warn(msg, ConvergenceWarning)

                               Mixed Linear Model Regression Results
===================================================================================================
Model:                           MixedLM              Dependent Variable:              value
No. Observations:                70560                Method:                          REML
No. Groups:                      196                  Scale:                           6.3734
Min. group size:                 360                  Log-Likelihood:                  -166788.3390
Max. group size:                 360                  Converged:                       No
Mean group size:                 360.0
---------------------------------------------------------------------------------------------------
                                                       Coef.  Std.Err.    z     P>|z| [0.025 0.975]
---------------------------------------------------------------------------------------------------
Intercept                                               3.913    0.070   55.600 0.000  3.775  4.051
model[T.TeenyTinyLlama-160m-NCM-ft]                     2.015    0.067   29.980 0.000  1.883  2.146
model[T.deepseek-chat]                                  1.388    0.067   20.651 0.000  1.256  1.520
model[T.gemini-2.0-flash]                               0.878    0.067   13.068 0.000  0.746  1.010
model[T.gpt-4o-mini-2024-07-18]                         0.988    0.067   14.708 0.000  0.857  1.120
temperature[T.1.0]                                      0.125    0.062    2.022 0.043  0.004  0.245
temperature[T.1.9]                                      0.355    0.062    5.761 0.000  0.234  0.476
top_p[T.0.5]                                            0.166    0.062    2.698 0.007  0.045  0.287
top_p[T.0.9]                                            0.312    0.062    5.065 0.000  0.191  0.433
rag_type[T.Common RAG]                                 -2.318    0.019 -121.944 0.000 -2.355 -2.281
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature[T.1.0] -0.591    0.074   -8.028 0.000 -0.735 -0.447
model[T.deepseek-chat]:temperature[T.1.0]              -0.046    0.074   -0.621 0.535 -0.190  0.099
model[T.gemini-2.0-flash]:temperature[T.1.0]           -0.055    0.074   -0.754 0.451 -0.200  0.089
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]     -0.063    0.074   -0.858 0.391 -0.207  0.081
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature[T.1.9] -1.154    0.074  -15.677 0.000 -1.298 -1.010
model[T.deepseek-chat]:temperature[T.1.9]              -0.271    0.074   -3.688 0.000 -0.416 -0.127
model[T.gemini-2.0-flash]:temperature[T.1.9]           -0.254    0.074   -3.448 0.001 -0.398 -0.110
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]     -0.257    0.074   -3.488 0.000 -0.401 -0.113
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]       -0.686    0.074   -9.319 0.000 -0.830 -0.542
model[T.deepseek-chat]:top_p[T.0.5]                    -0.114    0.074   -1.545 0.122 -0.258  0.031
model[T.gemini-2.0-flash]:top_p[T.0.5]                 -0.109    0.074   -1.487 0.137 -0.254  0.035
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]           -0.087    0.074   -1.187 0.235 -0.232  0.057
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]       -1.017    0.074  -13.815 0.000 -1.161 -0.873
model[T.deepseek-chat]:top_p[T.0.9]                    -0.209    0.074   -2.833 0.005 -0.353 -0.064
model[T.gemini-2.0-flash]:top_p[T.0.9]                 -0.269    0.074   -3.659 0.000 -0.414 -0.125
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]           -0.229    0.074   -3.107 0.002 -0.373 -0.084
temperature[T.1.0]:top_p[T.0.5]                        -0.093    0.057   -1.635 0.102 -0.205  0.019
temperature[T.1.9]:top_p[T.0.5]                        -0.149    0.057   -2.622 0.009 -0.261 -0.038
temperature[T.1.0]:top_p[T.0.9]                        -0.128    0.057   -2.244 0.025 -0.240 -0.016
temperature[T.1.9]:top_p[T.0.9]                        -0.106    0.057   -1.854 0.064 -0.218  0.006
Group Var                                               0.002
response_type Var                                       1.750
===================================================================================================

In [89]:
api = po.Api()
api.login_from_browser()
project_id = "67bcb7190363417c095b80b3"
root_folder = api.project_get_files(project_id).children
figures_folder_id = next(file.id for file in root_folder if file.name == "figures")

figures_dir = "figures"
for filename in os.listdir(figures_dir):
    if filename.endswith(".png"):
        filepath = os.path.join(figures_dir, filename)
        try:
            file_bytes = open(filepath, "rb").read()
            new_file = api.project_upload_file(project_id, figures_folder_id, filename, file_bytes)
            print(f"Uploaded {filename} successfully.")
        except Exception as e:
            print(f"Error uploading {filename}: {e}")

Uploaded temperature_boxplots.png successfully.
Uploaded top_p_boxplots.png successfully.
Uploaded spearman_correlation_matrix.png successfully.
Uploaded rag_type_model_boxplots.png successfully.
Uploaded rag_type_boxplots.png successfully.
Uploaded model_boxplots.png successfully.
Uploaded pairplot_spearman_correlation_matrix.png successfully.